/* [alt="intro-img"]{
    background-color:black ;
} */
*{
    margin: 0;
    padding: 0;
   
    
    
}


.main-div{

    position: relative;
    background: linear-gradient(70deg,#fff 45%, #9F2BC1 45%,#E1A2B8);
    height: 100vh;
}


/*      nav        */
nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
nav img{
    height: 35px;
}
.nav-items{
    
display:flex;justify-content: space-between;
width: 35vw;
position: relative;
right: 40px;
font-size: 1.2em;
color:  #03203C;

}
.signin-btn{
    width: 80px;
    height: 30px;
    border-radius: 36px;
}

/* intro-section */

.intro-section{
    display: flex;
}




.left-section{
    width: 30vw;
    
    height: 95vh;
    
    
}

.left-section h1{
    font-size: 5em;
    position: absolute;
    top:180px;
    left: 100px;
}
.left-section h4{

    position: absolute;
    top:300px;
    left: 110px;
    width: 300px;

}
.learn-more-btn{
    position: absolute;
    padding: 15px 30px;
    border-radius: 36px;
    left: 180px;
    bottom: 250px;
}

/* right */
.imgs-div{
    position: relative;
    
    
    
    
    

}
.vector-img{
    position: absolute;
    bottom: 0;
    
}


.vector-dot{
    position: absolute;
    bottom: 80px;
    left:50px
    
}


.imgs-div img:nth-child(3){
    position: absolute;
    left:80px;
   
}


